.project {
    direction: rtl;
    padding: 25px 15px;
    border-bottom: 1px solid rgb(233, 232, 232);
    background-color: #fff;
}

.projectHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.projectHeaderRightTitle {
    color: #2386c8;
    font-size: 15px;
    cursor: pointer;
    margin-bottom: 7px;
}

.projectHeaderRightIcons {
    color: #777;
    font-size: 11px !important;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.projectHeaderRightIcon {
    font-size: 14px !important;
    margin-left: 3px;
}

.projectHeaderRightText {
    margin-left: 10px;
}


.projectHeaderLeftButton {
    background-color: #1e75ae;
    border: none;
    outline: none;
    color: #fff;
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 2px 0px;
    font-size: 12px !important;

}

.projectHeaderLeftButtonRight {
    display: flex;
    align-items: center;
    padding: 0px 7px;

}

.projectHeaderLeftButtonRight:hover,
.projectHeaderLeftButtonDropDown:hover {
    background-color: #2386c8;
}

.projectDesc {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
    cursor: pointer;
    font-size: 15px;
    font-family: "Noto Naskh Arabic", "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 1.84;
    color: #343a40;
}