.homeWrapper {
    display: flex;
    background-color: #f0f0f0;
    padding: 0px 15px;
    direction: rtl;
}

.homeRight {
    flex: 4;
    margin-left: 30px;
}


.homeRightItem,
.homeLeftItem {
    margin-bottom: 30px;
    background-color: #fff;
}

.homeRightInfoTop {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 21px;
    color: #575858;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    line-height: 1.84;

}

.homeRightInfoTopImg {
    width: 84px;
    border-radius: 50%;
}

.homeRightInfoBottom,
.homeRightLastTop,
.homeRightStepsTop,
.homeRightMessagesBottomItem,
.homeRightWorksBottom,
.homeRightArticlesTop,
.homeRightArticlesBottomItem,
.homeRightLastTop,
.homeLeftCashBottom,
.homeLeftOffersBottom {
    padding: 14px 21px;

}

.homeRightInfoBottom {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #575858;
    font-size: 14px;
    padding: 17.5px 21px;
}

.homeRightInfoBottom:hover,
.homeRightWorksBottom:hover,
.homeRightMessagesBottomItem:hover {
    color: #185a87;
    cursor: pointer;
}

.homeRightStepsTop {
    cursor: pointer;
    color: #575858;
    font-size: 16px;
}

.homeRightStepsBottom {
    display: flex;
    flex-direction: column;
    padding: 21px;
}

.homeRightStepsBottomItem {
    display: flex;
    align-items: center;
    font-size: 18px;
}

.homeRightStepsBottomItemText {
    font-size: 15px;
    color: #2386C8;
    margin-right: 2px;
}

.homeRightMessagesTop,
.homeRightWorksTop {
    cursor: pointer;
    color: #575858;
    padding: 21px;
    display: flex;
    flex-direction: column;
    font-size: 18px;
    justify-content: center;
    align-items: center;

}

.homeRightMessagesBottom,
.homeRightWorksBottom,
.homeLeftCashBottom,
.homeLeftOffersBottom {
    display: flex;
    align-items: center;
    justify-content: center;

}

.homeRightMessagesBottomItem {
    flex: 6;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #575858;
    font-size: 14px;
}

.homeRightWorksBottom,
.homeRightArticlesTop {
    color: #575858;
    font-size: 14px;

}

.homeRightArticlesTop {
    font-size: 16px;
    color: #222;
}

.homeRightArticlesBottomItem {
    color: #2386C8;
    font-size: 15px;
    border-bottom: 1px solid #eaeaea;
}

.homeRightArticlesBottomItemTime {
    display: flex;
    align-items: center;
    font-size: 12px;
    color: #777;
}

.homeRightArticlesBottomItemTimeIcon {
    font-size: 12px !important;
    margin-left: 2px;
}


.homeRightLastBottom {
    color: #575858;
    padding: 21px;
    font-family: "Noto Naskh Arabic", "Helvetica Neue", Helvetica, Arial, sans-serif;
    display: flex;
    align-items: center;

}

.homeRightLastBottomImg {
    width: 50px;
    margin-left: 15px;
}


.homeLeft {
    flex: 8;
}

.homeLeftCashTop {
    display: flex;
    padding: 21px;
    color: #575858;
    font-size: 18px;
}

.homeLeftCashTopItem {
    flex: 6;
    text-align: center;
}

.homeLeftCashTopItemHeader {
    margin: 7px 0;
    line-height: 1.84;
    font-weight: 500
}

.homeLeftCashTopItemNumber {
    font-size: 48px;
    line-height: 1.46;
}

.homeLeftCashBottom {
    font-size: 14px;
    display: flex;
}

.homeLeftCashBottomItem {
    flex: 6;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 1.428571429;
    padding: 7px 0;
}







.m5 {
    margin-right: 5px;
}

.border {
    border-bottom: 1px solid #ddd;

}

.bold {
    font-weight: bold;
}