.homeWrapper {
    display: flex;
    background-color: #f0f0f0;
    padding: 0px 15px;
    direction: rtl;
    color: #575858;
    
}

.homeRight {
    flex: 4;
    margin-left: 30px;
}


.homeRightItem,
.homeLeftItem {
    margin-bottom: 30px;
    background-color: #fff;
}

.homeRightInfoTop {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 21px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    line-height: 1.84;

}

.homeRightInfoTopImg {
    width: 84px;
    border-radius: 50%;
}

.homeRightInfoBottom,
.homeRightLastTop,
.homeRightStepsTop,
.homeRightMessagesBottomItem,
.homeRightWorksBottom,
.homeRightArticlesTop,
.homeRightArticlesBottomItem,
.homeRightLastTop,
.homeLeftCashBottom,
.homeLeftOffersBottom,
.homeLeftProjectsTop,
.homeLeftLastTop {
    padding: 14px 21px;

}

.homeRightInfoBottom {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    padding: 17.5px 21px;
}

.homeRightInfoBottom:hover,
.homeRightWorksBottom:hover,
.homeRightMessagesBottomItem:hover,
.homeLeftOffersTopRight:hover,
.homeLeftOffersBottomItem:hover {
    color: #185a87;
    cursor: pointer;
}

.homeRightStepsTop {
    cursor: pointer;
    font-size: 16px;
}

.homeRightStepsBottom {
    display: flex;
    flex-direction: column;
    padding: 21px;
}

.homeRightStepsBottomItem {
    display: flex;
    align-items: center;
    font-size: 18px;
    padding: 3.75px 0px;
}

.homeRightStepsBottomItemText {
    font-size: 15px;
    color: #2386C8;
    margin-right: 2px;
}

.homeRightMessagesTop,
.homeRightWorksTop {
    cursor: pointer;
    padding: 21px;
    display: flex;
    flex-direction: column;
    font-size: 18px;
    justify-content: center;
    align-items: center;

}

.homeRightMessagesBottom,
.homeRightWorksBottom,
.homeLeftCashBottom,
.homeLeftOffersBottom {
    display: flex;
    align-items: center;
    justify-content: center;

}

.homeRightMessagesBottomItem {
    flex: 6;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
}

.homeRightWorksBottom,
.homeRightArticlesTop {
    font-size: 14px;

}

.homeRightArticlesTop {
    font-size: 16px;
    color: #222;
}

.homeRightArticlesBottomItem {
    color: #2386C8;
    font-size: 15px;
    border-bottom: 1px solid #eaeaea;
}

.homeRightArticlesBottomItemTime {
    display: flex;
    align-items: center;
    font-size: 12px;
    color: #777;
}

.homeRightArticlesBottomItemTimeIcon {
    font-size: 12px !important;
    margin-left: 2px;
}


.homeRightLastBottom {
    padding: 21px;
    font-family: "Noto Naskh Arabic", "Helvetica Neue", Helvetica, Arial, sans-serif;
    display: flex;
    align-items: center;

}

.homeRightLastBottomImg {
    width: 50px;
    margin-left: 15px;
}


.homeLeft {
    flex: 8;
}

.homeLeftCash {
    cursor: pointer;

}

.homeLeftCashTop {
    display: flex;
    padding: 21px;
    font-size: 18px;
}

.homeLeftCashTopItem {
    flex: 6;
    text-align: center;
}

.homeLeftCashTopItemHeader {
    margin: 7px 0;
    line-height: 1.84;
    font-weight: 500
}

.homeLeftCashTopItemNumber {
    font-size: 48px;
    line-height: 1.46;
}

.homeLeftCashBottom,
.homeLeftOffersBottom {
    font-size: 14px;
    display: flex;
}

.homeLeftCashBottomItem,
.homeLeftOffersBottomItem {
    flex: 6;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 1.428571429;
    padding: 7px 0;
}


.homeLeftOffersTop {
    display: flex;
    padding: 21px;
    align-items: center;
}

.homeLeftOffersTopLeft {
    flex: 8;
    display: grid;
    grid-template-columns: 45% 45%;
    grid-template-rows: 50% 50%;
    column-gap: 30px;
    row-gap: 15px;
    justify-content: center;
    align-items: center;

}

.homeLeftOffersTopLeftItem {
    cursor: pointer;
}

.homeLeftOffersTopLeftItemInfo {
    display: flex;
    line-height: 1.46;
    font-size: 13px;
    justify-content: space-between;
}

.homeLeftOffersTopLeftItemInfoRight,
.homeLeftOffersTopLeftItemInfoLeft {
    font-family: "Noto Naskh Arabic", "Helvetica Neue", Helvetica, Arial, sans-serif;

}

.homeLeftOffersTopLeftItemBar {
    position: relative;
    height: 8px;
}

.underProgress {
    background-color: #f0f0f0;
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

.progress {
    position: absolute;
    height: 100%;
    border-radius: 0px 5px 5px 0px;
    right: 0;
    top: 0;
}

.progress1 {
    width: 9%;
    background-color: #2e8b57;

}

.progress2 {
    width: 9%;
    background-color: #3f51b5;

}

.progress3 {
    width: 42%;
    background-color: #314459;

}

.progress4 {
    width: 34%;
    background-color: #da3623;

}




.homeLeftOffersTopRight {
    flex: 4;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

}

.homeLeftOffersTopRightTitle {
    font-size: 18px;
    font-weight: 500;
}

.homeLeftLastTop {
    display: flex;
    align-content: center;
    justify-content: space-between;
    cursor: pointer;
}

.homeLeftLastBottom {
    display: flex;
    color: #2386C8;
    padding: 21px;
}

.homeLeftLastBottomItem {
    display: flex;
    flex-direction: column;
    font-size: 15px;
    flex: 6;
}

.homeLeftLastBottomItemTitle {
    margin-bottom: 10px;
    font-weight: 500;
    cursor: pointer;
}

.m5 {
    margin-right: 5px;
}

.m7 {
    margin: 7px 0;
}

.lh {
    line-height: 1.84;
}

.border {
    border-bottom: 1px solid #ddd;
}

.bold {
    font-weight: bold;
}

.zeroColor {
    color: #314459;
}

@media (max-width:991px) {
    .homeWrapper{
        flex-direction: column;
    }
    .homeRight {
        flex: 1;
        margin-left: 0;
    }
    
}