.main {
    padding: 0px 20px;
    background-color: #f0f0f0;
    padding-bottom: 30px;
}

.mainBody {
    display: flex;
}

.mainOffers {
    flex: 9;
}

.mainOptions {
    flex: 3;
    direction: rtl;
}

@media (max-width: 991px) {
    .mainOptions{
        display: none;
    }
}