.footer {
    display: flex;
    flex-direction: column;
    text-align: right;
}

.footerTop {
    display: flex;
    padding: 20px 0;
}

.footerTopLeftTop {
    margin-bottom: 70px;
}

.footerTopLeftTopLinks {
    cursor: pointer;
}

.footerTopLeftTopLinksIcon {
    font-size: 45px !important;
    color: #737373;
    margin-left: 10px;
}

.footerTopRight {
    flex: 8;
    display: flex;
    direction: rtl;
}

.footerTopRightSection {
    flex: 1;
    padding: 0px 20px;
}

.footerTopRightSectionTitle {
    font-size: 20px;

}

.footerTopRightSectionLink {
    font-size: 16px;
    color: #2386c8;
    cursor: pointer;
    font-family: "Noto Naskh Arabic", "Helvetica Neue", Helvetica, Arial, sans-serif;

}

.footerTopLeft {
    flex: 3;
}

.footerCenter {
    display: flex;
    justify-content: space-between;
    color: #999;
    font-size: 13px;
    padding: 20px 10px;
    background-color: #f0f0f0;
}

.footerCenterLeft {
    direction: rtl;
}

.footerBottom {
    padding: 40px 0;
}

.footerBottomLogo {
    display: flex;
    justify-content: center;
    padding: 5px 0 20px 0px;
}

.footerBottomLogoImg {
    width: 135px;
    cursor: pointer;

}

.footerBottomItems{
    display: flex;
    justify-content: center;
}

.footerBottomItemsWrapper {
    display: flex;
    direction: rtl;
    flex-wrap: wrap;
    width: 80%;
}

.footerBottomItem {
    display: flex;
    flex-direction: column;
    justify-content: start;
    margin-left: 30px;
    cursor: pointer;
    margin-bottom: 15px;
}

.footerBottomItemTitle {
    font-size: 12px;
    font-weight: 400;
}

.footerBottomItemDesc {
    font-size: 10px;
    color: #999;
}

@media (max-width: 991px) {
    .footerBottomItemsWrapper{
        padding: 0px 20px;
        width: 100%;
    }
}

@media (max-width: 767px) {
    .footerTop {
        flex-direction: column-reverse;
    }
    .footerTopRight{
        flex-direction: column;
    }
    .footerTopRightSection{
        margin-bottom: 10px;
    }

    .footerTopLeft{
        margin-top: 15px;   
        padding: 0 20px;
    }

    .footerTopLeftTop{
        margin-bottom: 0;
    }
    .footerCenter{
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }
}

@media (max-width: 575px) {
    .footer{
        display: none;
    }
}